# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large files
*.pt
*.pth
*.h5

# Dataset
data/
datasets/

dataset.csv